img {
  opacity: 0.5;
}

.bg-container {
  position: relative;
}

.logo-block{
  position: absolute;
}

.stack-top{
  z-index: 9;
  top: 0;
  left: 0;
  margin-left: 400px;
}

Menu.Item {
  color: white;
  background-color: black;
  text-align: center;
}

input.bg-red {
  background-color: red;
}

div#sidebar {
  margin-top: 20vh;
  margin-left: 2vh;
  border: none;
  background-color: black;
  display: flex;
}

.mb-10 {
  margin-bottom: 3vh;
}

#logo {
  margin-left: 2rem;
  margin-top: 12rem;
}

h2 {
  color: white;
}

#menu {
  text-align: center;
}

.img-ml {
  background-color: gray;
  margin-top: 2vh;
  margin-left: -1vh;
}

h2:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

#smallcard {
  display: flex;
  flex-wrap: wrap;
  /* width: 280px; */
}